/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap_and_overrides";
@import "bootstrap/buttons";
@import "bootstrap/forms";

.deployment-wizard .wizard {
  width: 100%;
  float: left;
  padding-left: 0;
}

.deployment-wizard label {
  text-align: left !important;
  float: left;
  margin-left: 10px;
}

.deployment-wizard form {
  min-height: 705px;
  position: relative;
  padding-bottom: 60px;
}

.deployment-wizard .form_actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.top_actions {
  //same margin as h1 (title)
  margin: 20px 0 10px;
}

.title h1 {
  word-wrap: break-word;
}

span.editable, span.editable:hover {
  background-color: transparent;
  .spinner-placeholder{
    margin:0;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    padding: 0 150px;
  }
  form {
    float: left;
    @extend .form-inline;
  }
  input {
    @extend .form-control;
    width: auto !important;
    margin-right: 10px;
  }
  button {
    @extend .btn;
    @extend .btn-default;
    margin-right: 10px;
    &:not(:last-child) {
      @extend .btn-primary;
    }
  }
}

.deployment_summary_pane {
  padding-top: 60px;
}

.service-box {
  width: 200px;
  display: block;
  float: left;
  height: 300px;
  min-height: 200px;
  margin-right: 10px;
  overflow: auto;
}

.association.well {
  min-height: 500px;
  margin-top: 50px;
  h4{
    margin: 6px 0 6px 0;
    &.pull-left {
      margin-left: 10px;
    }
  }
}
