<%= f.fields_for :glance, @deployment.glance do |p| %>
  <%= field(p, :driver_backend, :label => _(Staypuft::Deployment::GlanceService::DriverBackend::HUMAN)) do
    @deployment.glance.backend_labels_for_layout.map do |value, label|
      radio_button_f_non_inline(p, :driver_backend,
                                :checked => @deployment.glance.driver_backend == value,
                                :value   => value,
                                :text    => label)
    end.join
  end %>

  <div class="glance_nfs_network_path col-md-offset-2 hide">
    <%=  text_f p, :nfs_network_path, class: "glance_nfs_network_path", label: _(Staypuft::Deployment::GlanceService::NfsNetworkPath::HUMAN),
         help_inline:  _(Staypuft::Deployment::GlanceService::NfsNetworkPath::HUMAN_AFTER) %>
  </div>
<%  end %>
