<!--Neutron HA-->
<div class="clearfix">
  <div class="panel panel-default service-box">
    <div class="panel-heading"><strong><%= _("Controller") %></strong></div>
    <div class="panel-body">
      <ul>
        <li>Horizon</li>
        <li>Keystone</li>
        <li>Glance</li>
        <li>Cinder</li>
        <li>Neutron</li>
        <li>Database with Galera</li>
        <li>Messaging</li>
        <li>Pacemaker Cluster</li>
        <li>HAProxy Load Balancer</li>
      </ul>
     </div>
  </div>
  <div class="panel panel-default service-box">
    <div class="panel-heading"><strong><%= _("Compute") %></strong></div>
    <div class="panel-body">
      <ul>
        <li>Nova-Compute</li>
        <li>Open vSwitch Agent</li>
      </ul>
     </div>
  </div>
</div>
