<div class="well association">
  <button type="button" class="close pull-right" aria-hidden="true">×</button>
  <h4><%= header %></h4>
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
    <%= message %>
  </div>
</div>
