<% title _("OpenStack Deployments") %>
<% title_actions display_link_if_authorized(_("New Deployment"), hash_for_new_deployment_path, :class => 'btn-success'), help_path %>

<% if @deployments.blank? %>
  <%= alert :header => _('There are no deployments yet.'),
            :text   => _('Please create at least one Deployment.'),
            :close  => false,
            :class  => 'alert-info' %>
<% else %>
  <table class="table table-bordered table-striped table-two-pane">
    <tr>
      <th><%= s_("Deployment|Name") %></th>
      <th></th>
    </tr>
    <% @deployments.each do |deployment| %>
      <tr>
        <td> <%= label_with_link(deployment, 1000, authorizer) %> </td>
        <td>
          <%= action_buttons(
                      display_link_if_authorized(_('Clone'), hash_for_edit_deployment_path(:id => deployment))) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

